body {
  background-color: #c9c8c3;
  .wrapper {
    display: none;
  }
  .desktop {
    width: 50vw;
    height: 80vh;
    margin: 0 auto;
    margin-top: 10vh;

    .block {
      position: absolute;
      z-index: -1;
      width: 80vw;
      height: 90vh;
      top: 5vh;
      left: 10vw;

      -webkit-box-shadow: 0px 3px 20px -10px rgb(33 30 30 / 51%);
      -moz-box-shadow: 0px 3px 20px -10px rgba(33, 30, 30, 0.51);
      box-shadow: 0px 3px 20px -10px rgb(33 30 30 / 51%);
    }

    .header {
      font-family: "CoFo_Sans-Regular";
      font-size: 100px;
      line-height: 90px;
      text-transform: uppercase;
      width: 62%;
      margin: 0 auto;
      margin-top: 25px;
      margin-bottom: 25px;
      .headerText {
        &.center {
          text-align: center;
        }
        &.left {
          text-align: left;
        }
        &.right {
          text-align: right;
        }
      }
    }
    .caps {
      width: 50%;
      font-size: 25px;
      text-transform: uppercase;
      &.left {
        text-align: left;
      }
      &.right {
        position: relative;
        left: 360px;
      }
    }
    .sorry {
      font-family: "CoFo_Sans-Regular";
      font-size: 17px;
      margin-bottom: 50px;
      padding: 10px;
      border: 1px solid #211e1e;
      text-align: center;
    }
    .qr {
      width: 50px;
      height: 50px;
      color: grey;
    }
    .credits {
      font-family: "CoFo_Sans-Regular";
      font-size: 14px;
      color: #9d9595;
      text-decoration: none;
      margin-top: 60px;
      text-align: center;
      position: relative;
      margin: 0 auto;
      bottom: -5vh;
      a {
        color: #9d9595;
      }
    }
  }
}
@media (max-width: 767px) {
  html {
    max-width: 767px;
  }

  body {
    .desktop {
      display: none;
    }
    color: #211e1e;
    .caps {
      font-family: "TT-Nooks-Light";
      font-size: 17px;
      text-transform: uppercase;
    }

    p.description {
      font-family: "CoFo_Sans-Regular";
      font-size: 16px;
      width: 325px;
      margin-bottom: 50px;
      word-break: break-word;
      hyphens: auto;
    }
    background-color: #c9c8c3;
    .wrapper {
      width: 375px;
      overflow-x: hidden !important;
      display: block;

      .credits {
        font-family: "CoFo_Sans-Regular";
        font-size: 14px;
        color: #9d9595;
        text-decoration: none;
        margin-bottom: 50px;
        text-align: center;
        a {
          color: #9d9595;
        }
      }

      .firstBlock {
        width: 325px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .cover {
          height: 560px;
          .coverImage {
            background: url("../../items/images/back.png");
            background-size: contain;
            mix-blend-mode: multiply;
            width: 375px;
            height: 432px;
            margin: 0 auto;
            position: absolute;
            left: 0;
            top: 125px;
            z-index: -1;
          }
          .header {
            font-family: "CoFo_Sans-Regular";
            font-size: 73px;
            line-height: 68px;
            text-transform: uppercase;
            .headerText {
              &.center {
                text-align: center;
              }
              &.left {
                text-align: left;
              }
              &.right {
                text-align: right;
              }
            }
          }
          .caps {
            width: 80%;
            &.left {
              text-align: left;
            }
            &.right {
              position: relative;
              left: 100px;
              margin-top: 5px;
            }
          }
        }

        .info {
          .caps {
            font-size: 12px;
            line-height: 133%;
            margin-bottom: 25px;
            width: 50%;
          }
          .people {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 325px;

            .leftBlock {
              width: 45%;
            }
            .rightBlock {
              width: 45%;
            }
          }
          .imagePromo {
            background: url("../../items/images/3125.png");
            background-size: cover;
            width: 325px;
            height: 185px;
            margin-bottom: 25px;
          }
          .afisha {
            position: relative;
            left: -25px;
            top: 25px;

            .block {
              margin-bottom: 25px;
              width: 350px;
              .image {
                background: url("../../items/images/3125.png");
                background-size: cover;
                width: 325px;
                height: 185px;
                margin-bottom: 25px;
              }
              &.closed {
                display: none;
              }
              /* width: 325px; */
              padding: 25px;
              /* height: 100px; */
              -webkit-box-shadow: 0px 3px 20px -10px rgb(33 30 30 / 51%);
              -moz-box-shadow: 0px 3px 20px -10px rgba(33, 30, 30, 0.51);
              box-shadow: 0px 3px 20px -10px rgb(33 30 30 / 51%);

              .info {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 25px;

                .header {
                  .headerText {
                    font-family: "CoFo_Sans-Regular";
                    font-size: 30px;
                    line-height: 25px;
                    text-transform: uppercase;
                    &.center {
                      text-align: center;
                    }
                    &.left {
                      text-align: left;
                    }
                    &.right {
                      text-align: right;
                    }
                  }
                }
                .caps {
                  width: 45%;
                }
              }
              .caps {
                width: 180px;
                font-size: 12px;
                line-height: 133%;
                margin-bottom: 25px;
                text-transform: none;
                word-break: break-word;
                hyphens: auto;

                p {
                  text-transform: uppercase;
                }
              }
            }
          }

          .block {
            &.budem {
              .caps {
                text-transform: uppercase;
              }
            }
          }

          .nalevo {
            .headerText {
              &.center {
                width: 77%;
              }
              &.right {
                width: 87%;
              }
            }
          }
        }
      }
    }
  }
}
